body {
  margin: 0;
  padding: 0;
  background-color: #221f1f;
}

/*FOOTER*/
footer > div,
footer a {
  color: #838383;
  text-decoration: none;
  font-size: 0.8rem;
}

/*TOPMAIN*/
.btn:hover {
  border-color: var(--bs-btn-hover-border-color);
}
.dropdown-menu.show {
  display: block;
  background: content-box;
}

.dropdown-menu {
  --bs-dropdown-border-color: #838383;
  --bs-dropdown-border-width: 0;
}

/*FILM SINGOLI */
.cardFilm {
  transition: transform 1s;
  height: 100%;
  border: 0;
}

.cardFilm:hover {
  transform: scale(1.2);
  border: 2px solid red;
}
